/*******************************************************************************************
 * This file contains the stlying used for layout.
 *******************************************************************************************/

@charset "UTF-8";

:root {
    --artile_main_width: calc(85% - 3pt - 4% - 1px);
}

body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
}

aside.sidebar {
    width: 15%;
}

article {
    width: var(--artile_main_width);
}
