#app-container 
{
    background-color: #333333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

#left-column-container
{
    height: 100%;
    width: 25%;  
    display: flex;
    flex-direction: column;
}

#track-list-container
{
    flex: 1;
    background-color: blue;

    display: flex;
    flex-direction: column;
}

#track-list-toolbar
{
    height: 60px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid white;
}

.add-instrument-button
{
    height: 52px;
    width: 52px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #555555;
    user-select: none;
    position: relative;
    border-radius: 4px;
}

.add-instrument-button:hover
{
    cursor: pointer;
    background-color: #777777;
}

.add-instrument-button img
{
    width: 48px;
    height: 48px;
    padding: 2px;
}

.add-instrument-button span
{
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 32px;
    line-height: 24px;
    text-align:center;
    font-weight: 600;
    bottom: 0;
    right: 0;
    color: white;
}

#track-list {
    flex: 1;
    background-color: #333333;
    box-sizing: border-box;
    border: 1px solid white;
}

    .sq_tracklist_entry
{
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #555555;
    color: white;
    margin: 4px;
    user-select: none;
    line-height: 30px;
    display: flex;
    flex-direction: row;
}

.sq_tracklist_entry:hover
{
    background-color: #777777 !important;
    cursor: pointer;    
}

.sq_tracklist_entry.active
{
    background-color: rgb(251,199,25);
    color: #111111;
}

.sq_tracklist_entry_image
{
    margin: 4px;
    width: 32px;
    height: 32px;
}

.sq_tracklist_entry_name
{
    line-height: 32px;
    font-size: 24px;
    margin: 4px;
    flex: 1;
}

.sq_tracklist_entry_muteButton
{
    width: 32px;
    height: 32px;
    background-color: #777777;
    color: white;
    border-radius: 4px;
    margin: 4px;
}

.sq_tracklist_entry_closeButton
{
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #777777;
    color: white;
    border-radius: 4px;
    margin: 4px;
    font-size: 32px;
    text-align: center;
}

.sq_tracklist_entry_muteButton:hover
{
    background-color: #999999;
}

.sq_tracklist_entry_closeButton:hover
{
    background-color: red;
}

.sq_tracklist_entry_muteButton img
{
    width: 30px;
    height: 30px;
}

#export-container
{
    height: 300px;
    background-color: #333333;
    box-sizing: border-box;
    border: 1px solid white;
    color:white;
}

.control-button
{
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 20px;
    margin: 4px;
    
    background-color: #555555;
    text-align: center;
    color: white;
    border-radius: 4px;
    user-select: none;
}

.control-button:hover
{
    cursor:pointer;
    background-color: #777777;
}

#export-container
{
    color: white;
}

#export-container table
{
    width: 100%;
}

#export-container table th, #export-container table td
{
    padding-left: 8px;
    margin: 0;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

#time-line-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#time-line-toolbar
{
    height: 60px;
    background-color: #333333;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    color: white;
}

.time-line-control-button
{
    height: 52px;
    width: 52px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #555555;
    user-select: none;
    border-radius: 4px;
}

.time-line-control-button:hover
{
    cursor: pointer;
    background-color: #777777;
}

.time-line-control-button img
{
    width: 48px;
    height: 48px;
    padding: 2px;
}

#time-line-toolbar label
{
    font-size: 26px;
    margin: 4px;
    height: 52px;
    line-height: 52px;
}

#time-line-toolbar select, #time-line-toolbar input
{
    height: 32px;
    margin: 4px;
    margin-top: 12px;
}

.time-line-menu-button
{
    height: 52px;
    box-sizing: border-box;
    line-height: 52px;
    font-size: 20px;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;
    
    background-color: #555555;
    text-align: center;
    color: white;
    border-radius: 4px;
    user-select: none;
}


.time-line-menu-button:hover
{
    background-color: #777777;
    cursor: pointer;
}

.instrument-picker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.instrument-option {
    background-color: #555;
    color: #ddd;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.instrument-option:hover {
    background-color: #777;
}

#sequencer
{
    position: relative;
    height: 100%;
    width: 100%;
}

.keyboard 
{
    position: absolute;
    top: 0;
    left: 0;
}

.keyboardKey {
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.keyboardKey:hover {
    background-color: grey !important;
    color: white !important;
    cursor: pointer;
}

.trackView {
    position: absolute;
    left: 60px;
    right: 0px;
    top: 0;
    overflow-x: scroll;
}

.trackView > table {
    border-collapse: collapse;
    table-layout: fixed;
    width: max-content;
}

.trackView > table th,
.trackView > table td {
    width: 30px;
    height: 30px;
    border: 1px solid #444;
    text-align: center;
    box-sizing: border-box;
    background-color: #3c3c3c;
}

.trackView > table th:hover,
.trackView > table td:hover 
{
    background-color: #777777;
    cursor:pointer;
}

.trackView > table td.active {
    background-color: rgb(251,199,25);
}