#pageIcons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.category-header {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    color: var(--panel-color);
    text-shadow: -2px 2px 1px var(--secondary-color);
    background: linear-gradient(to right, var(--primary-color), rgba(0,0,0,0));
    padding-left: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.pageTile {
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--panel-color);
    border: 3px solid var(--panel-color);
    text-align: center;
    transition: border 0.3s ease;
    text-decoration:none;
    box-sizing:border-box;
}

.pageTile:hover {
    border: 3px solid var(--primary-color);
}

.pageTitle {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.pageDescription 
{
    font-size: 18px;
    color: var(--primary-color);;
    margin: 0px;
}

.pageTile img 
{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

#contentWrapper
{
    overflow-y: auto !important;
}
