/*PAGINATION CONTAINER*/
.flex_panel_pagination_header
{
    width: 100%;
	height: 50px;
	position: relative;
	background-color: var(--primary-color);
	margin-bottom: 6px;
}

.flex_panel_pagination_header h2 {
	position: absolute;
    top: 50%;
    left: 95px;
	transform: translate(-50%, -50%);
	margin: 0;
	white-space: nowrap;
	font-size: 24px;
	color: var(--text-color);
	text-shadow: -2px 2px 1px var(--secondary-color);
	font-weight: bold;
}

.flex_panel_pagination_header .previous_page_button,
.flex_panel_pagination_header .next_page_button
{
    position: absolute;
    top: 50%;
	transform: translate(-50%, -50%);
    background-color: var(--text-color);
    color: var(--primary-color);
	margin: 0;
	white-space: nowrap;
	font-size: 24px;
	font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    user-select: none;
}

.flex_panel_pagination_header .previous_page_button:hover,
.flex_panel_pagination_header .next_page_button:hover
{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.flex_panel_pagination_header .previous_page_button {
    left: 210px;
}

.flex_panel_pagination_header .next_page_button {
    left: 360px;
}

.flex_panel_pagination_header .page_indicator {
	position: absolute;
	top: 50%;
	left: 285px;
    width: 110px;
    text-align: center;
	transform: translate(-50%, -50%);
	margin: 0;
	white-space: nowrap;
	font-size: 24px;
	color: var(--text-color);
	text-shadow: -2px 2px 1px var(--secondary-color);
	font-weight: bold;
}

.flex_panel_pagination_result_container
{
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
}

/*LOADING CIRCLE*/
.flex_panel_loading_circle_container
{
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.flex_panel_loading_circle_container .circle 
{
  width: 100px; /* Adjust the size of the circle */
  height: 100px; /* Adjust the size of the circle */
  border-radius: 50%;
  border: 12px solid var(--primary-color); /* Color of the circle border */
  border-top-color: var(--panel-color); /* Color of the animated part of the circle */
  animation: spin 1s linear infinite; /* Animation for spinning */
}

/*DRAGGABLE PLAYLIST*/
.draggable_playlist
{
    background-color: var(--panel-color);
    color: var(--primary-color);
}

.draggable_playlist .playlistTable
{
    width: 100%;
}

.draggable_playlist .playlistTable thead{
    color: var(--secondary-color);
}

.draggable_playlist .playlistTable tr{
    border: 1px solid var(--primary-color);
}

.draggable_playlist .playlistTable td{
    border-bottom: 1px solid var(--primary-color);
}

.ui-sortable td
{
    cursor: grab;
}

.ui-sortable td:active
{
    cursor: grabbing;
}

.draggable_playlist .playlistTable td .remove-button
{
    display: inline-block;
    background-color: rgb(251, 59, 25);
    color: white !important;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out;
    font-family: 'Righteous';
    font-weight: 300;
    width: 100%;
}

.draggable_playlist .playlistTable td .remove-button:hover
{
    color: rgb(251, 59, 25) !important;
    background-color: white !important;
}

/* LEVEL LIST ITEM */
.level_result_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--panel-color);
    height: 20%; /* Consistent height for the entire item */
    padding: 10px;
    overflow: hidden;
    align-items: center; /* Vertically center the content */
    border-bottom: 2px solid var(--secondary-color);
}

.level_result_item_image {
    flex-shrink: 0;
    margin-right: 10px;
    height: 100%; /* Make the image div the same height as the item */
    width: auto; /* Keep the width automatic to maintain the aspect ratio */
    aspect-ratio: 16/9; /* Ensure the image is square */
    overflow: hidden;
}

.level_result_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 4px;
}

.level_result_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.level_result_item_name {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
    box-sizing: border-box;
}

.level_result_item_name h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.level_result_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    color: var(--primary-color);
}

.level_result_primary_info,
.level_result_record_info,
.level_result_level_info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.level_result_primary_info p,
.level_result_record_info p,
.level_result_level_info p {
    margin: 3px 0;
    color: var(--primary-color);
    font-size: 0.9em;
}

.secondary_colored {
    color: var(--secondary-color);
}

/*LEADERBOARD TABLES*/
.leaderboardTable
{
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.leaderboardTable th
{
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: left;
}

.leaderboardTable tr
{
    font-size: 18px;
    color: var(--primary-color);
}

.leaderboardTable tr:nth-child(even)
{
    background-color: var(--panel-color);
    width: 100%;
}

.leaderboardTable tr:nth-child(odd)
{
    background-color: var(--text-color);
    width: 100%;
}

.leaderboardTable td
{
    padding: 5px;
}

.position1
{
  color: rgb(133, 31, 217) !important;
}

.position2
{
  color: rgb(207, 167, 35) !important;
}

.position3
{
  color: rgb(112, 112, 112) !important;
}

.position4
{
  color: rgb(148, 72, 13) !important;
}